main{
    text-align: center;
    gap: 1.5em;
    justify-content: center;
}
article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 1.5em;
    gap:1em;
    border-radius: 0.5em;
}
article button, article input::file-selector-button{
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    color: #fff;
    background-color: var(--preto);
    border-radius: 0.5em;
    border: none;
    transition: transform 300ms;
}
article #importar-btn{
    background-color:var(--ciano);
}
article #exportar-btn{
    color: var(--preto);
    background-color:var(--amarelo);
}

article button:hover, article input::file-selector-button:hover {
    opacity:calc(0.8);
}

@media (max-width:1080px) {
    main {
        width: 90%;
    }
}

@media (max-width:520px) {
    main {
        width: 100%;
    }
}
